body{
    color: #333333;
}
.areaContainer, .volumeContainer{
    position: relative;
    width: 80%;
    margin: auto;
}
#areaWidthValue, #areaHeightValue, #volumeDepthValue, #volumeWidthValue, #volumeHeightValue {
    width: 20%;
    display: inline-block;
}
.areaResults, .volumeResults{
    margin-top: 10px;
    padding: 10px;
}